<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616158171342-ipkv1uap5410i3pe96lehq4oqrf9d05v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616158171342-ipkv1uap5410i3pe96lehq4oqrf9d05v</string>
	<key>API_KEY</key>
	<string>AIzaSyBl2SR3O4u8Gd9frqnkfzRgiRxnnKFCOOc</string>
	<key>GCM_SENDER_ID</key>
	<string>616158171342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fatemeh.ChatRoom-App</string>
	<key>PROJECT_ID</key>
	<string>chat-room-21b0d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-room-21b0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616158171342:ios:fdb33664fe4e396fa2009f</string>
</dict>
</plist>